// Body
$bg-body: #eee4e7;
// Header
$header-title: #000;
$header-subtitle: #000;
$header-text: #000;

// Team
$pic-shadow: #000000;
$pos-shadow: #bc808a;

$name: #000;
$position: #ffffff;

$bg-position: #000;

// Footer
$attribution: #000;
